<template>
  <div>
    <section v-if="errored">
      <p>Page is currently unavailable</p>
    </section>

    <section v-else>
      <p>
        <strong>Instructions</strong>
        <br />Click on the name of the product(s) to add to or remove from basket.
        <br />Enter the amount paid, use "." to allocate cents.
        <br />Once the amount has been entered, press "Enter".
        <br />When no errors, the purchased products (1x each) will be removed from stock.
        <br />To clear fields, press the "Clear" button.
      </p>
      <hr />
      <hr />
      <b-container>
        <b-row align-v="center">
          <b-form-group label="Items for sale:">
            <b-form-checkbox-group
              v-model="selectedProducts"
              :options="products"
              value-field="code"
              text-field="name"
              buttons
              button-variant="primary"
              size="lg"
            ></b-form-checkbox-group>
          </b-form-group>
        </b-row>

        <b-row align-h="start">
          <b-col cols="2">
            <strong>Total</strong>
          </b-col>
          <b-col cols="2">
            <strong>{{ format(payableAmount) }}</strong>
          </b-col>
        </b-row>

        <b-row align-h="start">
          <b-col cols="2">
            <strong>Insert paid cash</strong>
          </b-col>
          <b-col cols="2">
            <b-form-input type="number" v-model="paidAmount" @keyup.enter="calculateChange"></b-form-input>
          </b-col>
        </b-row>

        <b-row align-h="start">
          <b-col cols="2">
            <strong>Change</strong>
          </b-col>
          <b-col cols="2">
            <strong>{{ format(change) }}</strong>
          </b-col>
        </b-row>

        <b-row>
          <b-button @click="clear" variant="secondary">Clear</b-button>
        </b-row>
      </b-container>
    </section>
  </div>
</template>



<script>
import axios from "axios";

export default {
  name: "BakeSale",
  data() {
    return {
      products: [],
      product: {
        id: "",
        code: "",
        name: "",
        price: "",
        quantity: "",
      },
      selectedProducts: [],
      errored: false,
      payableAmount: 0,
      paidAmount: 0,
      change: 0,
    };
  },

  watch: {
    selectedProducts: function () {
      this.calculatePayableAmount();
    },
  },

  methods: {
    initialize() {
      axios
        .get("http://localhost:8080/api/products")
        .then((response) => {
          this.products = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    format(amount) {
      if (!isNaN(amount)) {
        return amount.toFixed(2);
      } else {
        return amount;
      }
    },

    calculatePayableAmount() {
      let params = this.selectedProducts;
      axios
        .get("http://localhost:8080/api/sell?productCodes=" + params)
        .then((response) => {
          this.payableAmount = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    calculateChange() {
      let params1 = this.selectedProducts;
      let params2 = this.paidAmount;
      axios
        .get(
          "http://localhost:8080/api/finishSale?productCodes=" +
            params1 +
            "&paidAmount=" +
            params2
        )
        .then((response) => {
          this.change = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    clear() {
      this.payableAmount = 0;
      this.change = 0;
      this.paidAmount = 0;
      this.selectedProducts = [];
    },
  },
  mounted() {
    this.initialize();
  },
};
</script>

