<template>
  <div id="app">
    <BakeSale />
    
  </div>
</template>

<script>

import BakeSale from './components/BakeSale.vue'

export default {
  name: 'App',
  components: {
    BakeSale
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
